# Machine learning
pandas==2.0.2
scikit-learn==1.2.*
tensorflow==2.10.*

# Plots
seaborn>=0.12.2
matplotlib

# Useful libraries testing code and formatting
coverage==7.4.*
pylint==3.2.*
pytest==8.2.*
tox==4.4.*
pytest-cov
setuptools
